@model Min_FrontEndApp.Models.DTO.Product

<div class="container">
    <img class="image-section" src="@Model.ImageUrl" alt="">
    <h1 class="title">@Model.Name</h1>
    <p class="price">@Model.Price</p>
    <div class="description">@Model.Description</div>
</div>