@model Min_FrontEndApp.Models.ViewModels.ProductViewModel

<div class="container">
    @{
        foreach (var product in @Model.AllProducts)
        {
            <partial name="_CollectionItemPartial" model="product"/>
        }
    }

</div>


