<header>
    <div class="container">
        <a id="logotype" href="/">Fixxo.</a>

        <div id="menu" class="">
            <nav class="menu-links links">
                <a class="link" href="/">Home</a>
                <a class="link" href="/Products">Products</a>
                <a class="link" href="/Contacts">Contact</a>
                <a class="link" href="/Admin">Admin</a>

            </nav>

            <nav class="menu-icons icons">
                <a class="link ms-5" href="/Account"><i class="fa-regular fa-user"></i></a>
            </nav>
        </div>

        <div id="toggle-icon" class="icons">
            <button class="link"><i class="fa-regular fa-bars"></i></button>
        </div>
    </div>
</header>


