@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Min_FrontEndApp.Models.ViewModels.LoginViewModel



<div class="container col-xxl-8 px-4 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" novalidate>
            <h2>Login Form</h2>
            <div class="mb-3 d-flex justify-content-center">
                <div asp-validation-summary="ModelOnly"></div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control"/>
                <label asp-for="Email" class="form-label"></label>
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control"/>
                <label asp-for="Password" class="form-label"></label>

                <small><span asp-validation-for="Password" class="text-danger"></span></small>
            </div>

            <button class="w-100 btn btn-lg btn-primary btn-theme" type="submit">Login</button>
            <a asp-controller="Account" asp-action="Register" class="mt-2" type="button">New Here? Press here to REGISTER</a>
        </form>
    </div>
</div>